.contact-container{
    background-image: url(../Images/footer.png);
    height: 100vh;
    width: 100%;

    

    h1{
        text-align: center;
        font-size: 48px;
        font-family:'Alfa Slab One';
        letter-spacing: 3px;
        color:#3d2514;
        margin-bottom: 4rem;

        @media screen and (max-width:768px){
            font-size: 43px;
        }
    }
    .form-group{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        input{
            width: 550px;
            height: 50px;
            margin-bottom: 1rem;
            padding-left: 1rem;
            background-color: #0a0908;
            border: none;
            border-radius: 6px;
            outline: none;
            color: #fff;

            @media screen and (max-width:768px){
                width: 400px;
            }
        }
        textarea{
            width: 550px;
            height: 200px;
            border-radius: 6px;
            background-color: #0a0908;
            color: #fff;
            padding-left: 1rem;
            padding-top: 0.6rem;
            margin-bottom: 1em;

            @media screen and (max-width:768px){
                width: 400px;
            }
        }
        a{
            background-color: #bf2222;
            padding: 1rem 15.8rem;
            border-radius: 8px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.3s ease-in;

            @media screen and (max-width:768px){
                padding: 0.8rem 11rem;
            }

            &:hover{
                background-color: transparent;
                color: #0a0908;
                border: 2px solid #bf2222;
            }
        }
    }
}